@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  -webkit-animation: fadeIn 1s ease-in-out;
          animation: fadeIn 1s ease-in-out;
}

.btn {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  background: url("icons/button-background.png");
}
.btn:hover {
  background-color: rgb(0, 98.4, 204);
}
.btn:hover {
  background: url("icons/button-hover.png");
}

.btn-primary {
  padding-left: 8px;
  padding-right: 8px;
}

button:focus {
  outline: 1px dotted;
}

.btn.disabled,
.btn:disabled {
  cursor: default;
  background-color: silver;
  border-style: outset;
  border-color: buttonface;
  border-right-color: #333;
  border-bottom-color: #333;
  color: grey;
  text-shadow: 1px 1px #fff;
}

.minimized {
  display: none;
}

.button-primary {
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.button-primary:hover {
  background-color: rgb(0, 98.4, 204);
}

.navbar-95 {
  background: -webkit-gradient(linear, left top, right top, from(#08216b), to(#a5cef7));
  background: linear-gradient(to right, #08216b, #a5cef7);
  margin: 0;
  border: 1px outset #fff;
  min-height: 40px;
  padding: 0 6px;
  color: #212529;
}

.navbar-brand {
  color: #212529;
  padding: 0 6px;
}

.nav-link {
  text-decoration: none;
  display: inline-block;
  padding: 0 9px;
  color: #212529;
}

.dropdown-menu {
  display: none;
  min-width: 119px;
  padding: 0 0 2px;
  margin-left: 12px;
  font-size: 12px;
  list-style-type: none;
  background: silver;
  border: 1.8px outset #fff;
  border-radius: 0;
  -webkit-box-shadow: 1.5px 1.5px #000;
          box-shadow: 1.5px 1.5px #000;
}

.dropdown-item {
  padding: 1px 0 1px 2px;
}

.dropdown-item:hover {
  color: #08216b;
}

.navbar-light .navbar-toggler.collapsed .navbar-toggler-icon {
  width: 32px;
  background: url("icons/directory_closed_cool-5.png") no-repeat;
}

.navbar-light .navbar-toggler .navbar-toggler-icon {
  width: 32px;
  background: url("icons/directory_open_cool-5.png") no-repeat;
}

.navbar-toggler {
  width: auto;
}

.card {
  border: 2px solid;
  border-color: #fff #333 #333 #fff;
  background: #007bff;
  color: #212529;
}

.card.square {
  border-radius: 0;
}

.card.square .card-header {
  border-radius: 0;
}

.card.w95 .card-header {
  background: #08216b;
}

.card-header {
  background: -webkit-gradient(linear, left top, right top, from(#08216b), to(#a5cef7));
  background: linear-gradient(to right, #08216b, #a5cef7);
  color: #fff;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 2px 0 1px;
  text-align: left;
}

.card-header.icon {
  padding-left: 4px;
}

.header-inactive {
  background: gray !important;
}

.modal-header {
  background: -webkit-gradient(linear, left top, right top, from(#08216b), to(#a5cef7));
  background: linear-gradient(to right, #08216b, #a5cef7);
  padding: 10px;
  border-bottom: 2px solid #333;
}

.modal-body {
  padding: 20px;
  background-color: white;
  color: #212529;
  height: calc(100% - 30px);
  overflow: auto;
}

.modal-footer {
  padding: 10px;
  background-color: #333;
  color: #fff;
}

.table {
  background: white;
  border-color: #007bff;
}

.table-bordered {
  border: 1px solid #007bff;
}

.table-bordered td,
.table-bordered th {
  border: 1px solid #007bff;
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #007bff;
}

/* Scrollbar (only Chrome & Safari) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-button:end:increment,
::-webkit-scrollbar-button:start:decrement {
  display: block;
}

::-webkit-scrollbar-thumb {
  background-color: #a5cef7;
  border: 2px solid #c0c0c0;
}

::-webkit-scrollbar-track {
  background-color: silver;
}

.form-95 {
  width: 100%;
}

.taskbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: silver;
  color: #212529;
}

.start-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #c0c0c0;
  border: 1px outset #fff;
  padding: 5px 10px;
  margin-right: 10px;
  -webkit-box-shadow: 1px 1px #000;
          box-shadow: 1px 1px #000;
  cursor: pointer;
  font-size: 14px;
}
.start-button:hover {
  background-color: #a5cef7;
}

.taskbar .time {
  margin-left: auto;
  font-size: 14px;
}

.icon-16 {
  margin-bottom: 2px;
  max-height: 16px;
}

.icon-16-4 {
  margin-bottom: 4px;
  max-height: 16px;
}

.tab-content {
  border: 2px solid #fff #333 #333;
  background: silver;
  padding: 1rem 1.4rem;
}

.nav-tabs {
  border-bottom: 2px solid white;
}

.nav-tabs .nav-item {
  position: relative;
  margin-bottom: 0;
  background: #c0c0c0;
  color: black;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-right: 1px solid #5a5a5a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-tabs .nav-item .nav-link {
  color: black;
  padding: 0.2rem 1.8rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: none;
          transform: none;
}

.nav-tabs .nav-item .nav-link.active {
  position: relative;
  background: #c0c0c0;
}

.nav-tabs .nav-item:not(:first-child) .nav-link.active {
  border-left: 1px solid #5a5a5a;
}

.nav-tabs .nav-item:first-child .nav-link.active {
  border-left: 2px solid white;
}

.nav-tabs .nav-item .nav-link.active::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -2px;
  background: #007bff;
}

.nav-tabs .nav-link {
  border: 0;
  padding: 1rem;
}

.desktop {
  position: relative;
  width: 100%;
  height: calc(100vh - 40px);
  background-color: teal;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.desktop-icon {
  width: 48px;
  margin: 10px;
  text-align: center;
  color: #212529;
}
.desktop-icon img {
  width: 100%;
  height: auto;
}
.desktop-icon span {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.desktop-icon:hover {
  text-decoration: underline;
  cursor: pointer;
}

body {
  font-family: "MS Sans Serif", "Tahoma", "Verdana", sans-serif;
  background-color: #f0f0f0;
  color: #212529;
}

.button-secondary {
  background-color: #6c757d;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.button-secondary:hover {
  background-color: rgb(84.3605150215, 91.3905579399, 97.6394849785);
}

.container {
  background-color: #f0f0f0;
  color: #212529;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.container:hover {
  background-color: rgb(214.5, 214.5, 214.5);
}
