// sass/styles.scss
@use 'partials/index' as *;

body {
	font-family: $font-family;
	background-color: $bg-color;
	color: $text-color;
}

.button-secondary {
	@include button-styles($background: #6c757d, $textColor: #ffffff); 
}

.container {
	@include button-styles($background: $bg-color, $textColor: $text-color);
}


