// sass/styles.scss
@use 'partials/index' as *;

body {
	font-family: index.$font-family;
	background-color: index.$bg-color;
	color: index.$text-color;
}

.button-secondary {
	@include index.button-styles(#6c757d, #ffffff); 
}

.container {
	@include button-styles();
}


