// Media queries and button styling
// _buttons.scss

@use "variables" as vars;

@include button-styles(vars.$btn-bg, vars.$btn-text-color);

.btn {
	@include button-styles(vars.$btn-bg, vars.$btn-text-color);
	background: url("icons/button-background.png");

	&:hover {
		background: url("icons/button-hover.png");
		// Other hover styles
	}
}

.btn-primary {
	padding-left: 8px;
	padding-right: 8px;
}

button:focus {
	outline: 1px dotted;
}

.btn.disabled,
.btn:disabled {
	cursor: default;
	background-color: silver;
	border-style: outset;
	border-color: buttonface;
	border-right-color: $border-dark;
	border-bottom-color: $border-dark;
	color: grey;
	text-shadow: 1px 1px #fff;
}

.minimized {
	display: none;
}
