.card {
	border: 2px solid;
	border-color: #fff $border-dark $border-dark #fff;
	background: $btn-bg;
	color: #212529;
}

.card.square {
	border-radius: 0;
}

.card.square .card-header {
	border-radius: 0;
}

.card.w95 .card-header {
	background: #08216b;
}

.card-header {
	background: linear-gradient(to right, #08216b, #a5cef7);
	color: #fff;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 2px 0 1px;
	text-align: left;
}

.card-header.icon {
	padding-left: 4px;
}

.header-inactive {
	background: gray !important;
}
