.card {
	border: solid;
	border-width: 2px;
	border-bottom-color: $border-dark;
	border-right-color: $border-dark;
	border-left-color: #fff;
	border-top-color: #fff;
	background: $btn-bg;
	color: #212529;
}

.card.square {
	border-radius: 0px;
}

.card.square .card-header {
	border-radius: 0px;
}

.card.w95 .card-header {
	background: #08216b; 
}

.card-header {
	background: -webkit-linear-gradient(left, #08216b, #a5cef7);
	color: #fff;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-top: 2px;
	padding-bottom: 1px;
	text-align: left;
}

.card-header.icon {
	padding-left: 4px;
}

.header-inactive {
	background: gray !important;
}
