@use "variables" as *;

.modal-header {
	background: linear-gradient(to right, #08216b, #a5cef7);
	padding: 10px;
	border-bottom: 2px solid $border-dark;
}

.modal-body {
	padding: 20px;
	background-color: white;
	color: #212529;
	height: calc(100% - 30px); // Adjust based on title bar height
	overflow: auto;
}

.modal-footer {
	padding: 10px;
	background-color: $footer-bg;
	color: $footer-text;
}
