.modal-content {
	box-shadow: 1px 1px 0 0 #424242;
	border: 1px solid #fff;
	border-right-color: #848484;
	border-bottom-color: #848484;
	background: silver;
	padding: 2px;
}

.modal-header {
	height: 32px;
	background: -webkit-linear-gradient(left, #08216b, #a5cef7) !important;
	color: white;
	padding: 0px 6px;
}

.modal-header .btn {
	margin-top: 5px;
	padding-bottom: 10px;
	height: 22px;
	width: 22px;
}

.modal-header .btn span {
	position: absolute;
	top: 6px;
	right: 14px;
}

.modal-title {
	padding: 2px 0px 1px 0px;
}

.modal-footer {
	padding: 6px;
}
