@use 'variables' as vars;
@use 'mixins' as m;

.navbar-95 {
	background: vars.$navbar-gradient;
	margin: 0;
	border: 1px outset vars.$footer-text;
	min-height: 40px;
	padding: 0 6px;
	color: vars.$text-color;
}

.navbar-brand {
	color: vars.$text-color;
	padding: 0 6px;
}

.nav-link {
	text-decoration: none;
	display: inline-block;
	padding: 0 9px;
	color: vars.$text-color;
}

.dropdown-menu {
	display: none;
	min-width: 119px;
	padding: 0 0 2px;
	margin-left: 12px;
	font-size: 12px;
	list-style-type: none;
	background: silver;
	border: 1.8px outset #fff;
	border-radius: 0;
	box-shadow: 1.5px 1.5px #000;
}

.dropdown-item {
	padding: 1px 0 1px 2px;
}

.dropdown-item:hover {
	color: #08216b;
}

.navbar-light .navbar-toggler.collapsed .navbar-toggler-icon {
	width: 32px;
	background: url("icons/directory_closed_cool-5.png") no-repeat;
}

.navbar-light .navbar-toggler .navbar-toggler-icon {
	width: 32px;
	background: url("icons/directory_open_cool-5.png") no-repeat;
}

.navbar-toggler {
	width: auto;
}
