/* Scrollbar (only Chrome & Safari) */
@use "variables" as var;

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-button:end:increment,
::-webkit-scrollbar-button:start:decrement {
	display: block;
}

::-webkit-scrollbar-thumb {
	background-color: #a5cef7;
	border: 2px solid var.$border-light;
}

::-webkit-scrollbar-track {
	background-color: silver;
}
